### Docker y Dataset

In [43]:
#Lanzamos el Docker
!docker-compose -f ./docker-compose-cassandra.yml -f ./docker-compose-mysql.yml up -d

WARN[0000] /home/bigdata/code/Cassandra-vs-MySQL/docker-compose-cassandra.yml: the attribute `version` is obsolete, it will be ignored, please remove it to avoid potential confusion
WARN[0000] /home/bigdata/code/Cassandra-vs-MySQL/docker-compose-mysql.yml: the attribute `version` is obsolete, it will be ignored, please remove it to avoid potential confusion
[+] Running 2/0
 ✔ Container cassandra  Running                                            0.0s
 ✔ Container mysql      Running                                            0.0s

In [44]:
#Creamos el dataset
!python createDataset.py

Archivo CSV 'dataset.csv' creado con éxito con 100 filas.

### Cassandra

In [45]:

#Insertamos los datos en Cassandra
!python Cassandra/insert_dataCassandra.py

Insertado: 1
Insertado: 2
Insertado: 3
Insertado: 4
Insertado: 5
Insertado: 6
Insertado: 7
Insertado: 8
Insertado: 9
Insertado: 10
Insertado: 11
Insertado: 12
Insertado: 13
Insertado: 14
Insertado: 15
Insertado: 16
Insertado: 17
Insertado: 18
Insertado: 19
Insertado: 20
Insertado: 21
Insertado: 22
Insertado: 23
Insertado: 24
Insertado: 25
Insertado: 26
Insertado: 27
Insertado: 28
Insertado: 29
Insertado: 30
Insertado: 31
Insertado: 32
Insertado: 33
Insertado: 34
Insertado: 35
Insertado: 36
Insertado: 37
Insertado: 38
Insertado: 39
Insertado: 40
Insertado: 41
Insertado: 42
Insertado: 43
Insertado: 44
Insertado: 45
Insertado: 46
Insertado: 47
Insertado: 48
Insertado: 49
Insertado: 50
Insertado: 51
Insertado: 52
Insertado: 53
Insertado: 54
Insertado: 55
Insertado: 56
Insertado: 57
Insertado: 58
Insertado: 59
Insertado: 60
Insertado: 61
Insertado: 62
Insertado: 63
Insertado: 64
Insertado: 65
Insertado: 66
Insertado: 67
Insertado: 68
Insertado: 69
Insertado: 70
Insertado: 71
Insertado: 72
Insertado: 73
Insertado: 74
Insertado: 75
Insertado: 76
Insertado: 77
Insertado: 78
Insertado: 79
Insertado: 80
Insertado: 81
Insertado: 82
Insertado: 83
Insertado: 84
Insertado: 85
Insertado: 86
Insertado: 87
Insertado: 88
Insertado: 89
Insertado: 90
Insertado: 91
Insertado: 92
Insertado: 93
Insertado: 94
Insertado: 95
Insertado: 96
Insertado: 97
Insertado: 98
Insertado: 99
Insertado: 100

In [46]:
#Realizamos el test
!python Cassandra/test.py

Conexión exitosa a Cassandra.
Número total de filas: 1000000
Resultado de la media: 500.192874
Tiempo de ejecución de la consulta: 6.5562 segundos
Conexión cerrada.

### MySQL

In [47]:
#Creamos la tabla
!python MYSQL/create_table.py

Tabla creada correctamente.

In [48]:
#Insertamos los datos
!python MYSQL/insertData.py

Traceback (most recent call last):
  File "/home/bigdata/miniconda3/envs/combined_env/lib/python3.9/site-packages/mysql/connector/connection_cext.py", line 706, in cmd_query
    self._cmysql.query(
_mysql_connector.MySQLInterfaceError: Duplicate entry '1' for key 'dataset.PRIMARY'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/bigdata/code/Cassandra-vs-MySQL/MYSQL/insertData.py", line 19, in <module>
    cursor.execute('''
  File "/home/bigdata/miniconda3/envs/combined_env/lib/python3.9/site-packages/mysql/connector/cursor_cext.py", line 357, in execute
    result = self._connection.cmd_query(
  File "/home/bigdata/miniconda3/envs/combined_env/lib/python3.9/site-packages/mysql/connector/opentelemetry/context_propagation.py", line 97, in wrapper
    return method(cnx, *args, **kwargs)
  File "/home/bigdata/miniconda3/envs/combined_env/lib/python3.9/site-packages/mysql/connector/connection_cext.py", line 714, in cmd_query
    raise get_mysql_exception(
mysql.connector.errors.IntegrityError: 1062 (23000): Duplicate entry '1' for key 'dataset.PRIMARY'

In [49]:
#Realizamos el test
!python MYSQL/consultaSQL.py

Resultado de la media: 561.6000
Tiempo de ejecución de la consulta: 0.0007 segundos